.site-about {
  position: relative;
  display: flex;
  background-color: var(--site-bg-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.full-wheel-comp {
  display: flex;
  flex-direction: column;
  position: relative;
}

.spin-arrow-img {
  height: 10rem;
  position: absolute;
  right: -1rem;
  top: 8rem;
  opacity: 0;
}

.full-wheel-comp:hover .spin-arrow-img {
  opacity: 1;
}

.wheel-spin-text {
  position: absolute;
  font-weight: normal;
  right: -4rem;
  top: 6rem;
  opacity: 0;
  pointer-events: none;
  animation: tinyBreaths 5s ease-in-out infinite;
}

.full-wheel-comp:hover .wheel-spin-text {
  opacity: 1;
}
