.wheel-wrapper {
   height: 30rem;
   width: 30rem;
  -webkit-mask-image: radial-gradient(
    ellipse 35rem 19rem at 100% 49%,
    black 15%,
    rgba(0, 0, 0, 0.4) 17%,
    transparent 40%
  );
  mask-image: radial-gradient(
    ellipse 35rem 19rem at 100% 49%,
    black 15%,
    rgba(0, 0, 0, 0.4) 17%,
    transparent 40%
  );
}

.wheel-image {
  height: 100%;
}
