.wheel-wrapper {
  height: 30rem;
  width: 30rem;

  -webkit-mask-image: radial-gradient(
    ellipse 35rem 19rem at 100% 49%,
    black 15%,
    rgba(0, 0, 0, 0.4) 17%,
    transparent 40%
  );
  mask-image: radial-gradient(
    ellipse 35rem 19rem at 100% 49%,
    rgb(199, 141, 141) 15%,
    rgba(0, 0, 0, 0.4) 17%,
    transparent 40%
  );

  margin: var(--spacing-compact);
  margin-left: -8rem;
  margin-top: 0;

  position: relative;
}

.wheel-image {
  height: 100%;
  
}

.wheel-image.at-about{
  animation: rotateToStop 2.5s forwards;
}

.wheel-image.disabled {
  pointer-events: none;
}

.wheel-image:hover {
  cursor: pointer;
}

.wheel-image:active {
  cursor: grabbing;
}

.spin-arrow {
  position: absolute;
}
