.scroll-container {
  height: 850px;
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
}

.slide-1,
.slide-2 {
  scroll-snap-align: start;
  min-height: 850px;
}

.slide-1 {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.scroll-down-arrow {
  position: absolute;
  bottom: 2.5rem;
  transition: opacity 0.15s ease-in-out;
}

.scroll-down-arrow.hidden {
  opacity: 0;
}

.scroll-down-arrow.visible {
  opacity: 1;
}

/*
.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(40px);
}

.visible {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
  transition: opacity 0.6s, transform 0.6s;
} */
