.site-header {
  position: relative;
  background-color: rgb(253, 255, 255);
  padding-bottom: 0.5rem;
}

.site-header.intro {
  max-height: 0;
  padding-bottom: 0rem;
  animation: fill 0.75s ease-in-out 4.5s forwards;
}
