.content-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click-info {
  color: rgb(162, 170, 179);
  font-size: 1.5rem;
  margin-bottom: -1rem;
  animation: tinyBreaths 5s ease-in-out infinite;
  transition: color 0.15s ease-in;
}

.click-info.active {
  color: black;
  animation-play-state: paused;
}

.chevron-arrows:hover {
  animation: fadeMoveDown 2s ease-in-out infinite;
  cursor: pointer;
}
