.snazzy-button {
  display: block;
  transition:
    opacity 0.5s,
    display 0.5s allow-discrete;
}

.snazzy-button.pressed {
  opacity: 0;
  display: none;
}

.snazzy-button:hover {
  animation: breathing 3s ease-in-out 0s infinite reverse;
  transform-origin: center;
  cursor: pointer;
}
