.hobby-content {
  position: relative;
  margin: var(--spacing-compact);
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.hobby-content.pending {
  color: rgb(197, 198, 199);
}

.hobby-content.pending img {
  opacity: 0.4;
}

.hobby-content.spinning {
  color: rgb(197, 198, 199);
}

.hobby-content.spinning img {
  opacity: 0.4;
}

.hobby-title {
  font-size: var(--size-header-2);
  text-align: center;
}

.hobby-description {
  font-size: var(--size-body);
  text-align: justify;
  margin-bottom: var(--spacing-mini);
}

.spinner {
  border: 3rem solid rgb(60, 62, 64);
  border-right-color: rgb(252, 217, 23);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 9rem;
  animation: rotate 1s linear infinite;
}

.hobby-content img {
  margin-top: var(--spacing-compact);
}

.trvl-img {
  width: 25rem;
}

.sprts-img {
  width: 25rem;
}

.vd-games-img {
  width: 35rem;
}

.arcd-img {
  width: 20rem;
}

/* Alternative loader css
.loader {
  opacity: 1;
  position: absolute;
  color: black;
  display: inline-block;
  font-size: 2rem;
  top: 9rem;
}

.loader::after {
  content: '';
  width: 0.25rem;
  height: 0.25rem;
  background-color: currentColor;
  position: absolute;
  bottom: 0.75rem;
  right: -0.25rem;
  animation: waiting 1.25s ease-in-out infinite;
} */
